body {
    background: #595647;
    color: white;
}
img {
    max-width: 100%;
}
.profile{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.intro{
    border-bottom: 2px;
}

strong{
    color: yellow;
}

.profile img{

    max-width: 100%;
}

h2{
    font-size: 30px;
    color: turquoise;
}

h3{
    font-size: 20px;
    color: turquoise;
}

label{
    font-style: italic;

}
.listFormat{
    float: left;
    width: 100%;
    display: inline-block;
}

.listFormat li{
    width : 200px;
    hight : 200px;
    background: gray;
    border: 2px;
    padding: 10px;
    margin: 10px;
    list-style: none;
    display: inline-block;
}


.divRow {
    width: 100%;
    display: inline-block;
}